.background{
    height:800px;
    margin-top: 20px;
    background-image: url(../../images/Bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

  .rideContextArea{
      text-align: center;
      margin: 250px 0;
      
  }
  .rideContextArea a{
      text-decoration: none;
      color:black ;
  }
  