.background{
    height:750px;
    margin-top: 20px;
    background-image: url(../../images/Bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.nav{
    margin-top: 50px;
    margin-right: 200px;
    float: right;
}
.nav h4{
    margin-right: 200px;
    color: black;
}
.nav li{
    display: inline;
    margin-left: 50px;
    
  }
  .nav a{
    text-decoration: none;
    color:rgb(95, 93, 93);
    font-weight: bold;
  }
  .rideContextArea{
      text-align: center;
      margin: 250px 0;
      
  }
  .rideContextArea a{
      text-decoration: none;
      color:black ;
  }
  .individualContext{
      border: 1px solid lightgray;
      width: 200px;
      height: 220px;
      float: left;
      margin-left: 97px;
      background-color: white;
      border-radius: 20px;
  }
  .individualContext img{
      width:140px;
      margin-top: 20px;
      margin-bottom: 20px;
  }